@font-face{
    font-family: "cabin";
    src: url(/fonts/cabinsketch/cabinsketch-bold-webfont.woff) format(woff);
    font-weight:200;
    font-style:normal;
}
.note{
    font-family: "cabin";
    position: absolute;
    display:inline-block;
    margin-top:3rem;
    left:50%;
    transform:translate(-50%,0);    
    background:#fafdde;
    text-align: center;
    border-radius: 25px;
    font-size: 1.3rem;
}
@media (max-width: 700px) {
    .note{
        width:90%;
    }
}